#reset
{
	cursor:pointer;
}
.image {

}

#reset img
{
	height:32px;
	width:32px;
}

#reset img:hover
{
    animation:spin 1s linear infinite;
}

@keyframes spin
{ 
	50% { transform:rotate(-15deg); };
	100% { transform:rotate(15deg); } 
}